
      <div class="ui inverted menu">
        <div class = "ui container">
          <a class="item">
            ChatRoom
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
        
        <div class="ui simple dropdown item">
          Account<i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Logout</div>
            <div class="item">Login</div>
            <div class="item">Sign up</div>
        
      </div>
      </div>
      </div>